@tailwind base;
@tailwind components;
@tailwind utilities;

.master-size {
  height: 92vh;
  width: 100vw;
}

.sizeH90{
  height: 90%;
}

.sizeH10 {
  height: 10%;  
}

.size30W{
  width: 30%;
}

.bgImg{
  background-image: url('ZZ5H.gif');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width:786px) {
  .mobileSize{
    height: 50vh;
    width: 95vw;
  }

  .mobileInput{
    width: 100vw;
    height: 10vh;
  }

  .myMobileView{
    width: 30vw;
    height: 20vh;
    position: absolute;
    top: 34vh;
    left: 65vw;
  }

  .mobileBothView{
    position: relative;
  }
  .mobileTextView{
    position: relative;
    width: 100vw;
    height: 30vh;
    top: 52vh;
    left: -32vw;
  }
}